
body{font-family:Arial;background:#f4f6f9;padding:20px;}
.card{background:#fff;padding:20px;width:300px;margin:auto;border-radius:8px;}
input,textarea,select{width:100%;margin:5px 0;padding:8px;}
button{padding:10px;background:#2563eb;color:white;border:none;}
a{margin-right:15px;}
